@charset "UTF-8";
html {
  color: #000;
  background: #fff;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

html, body {
  font-family: '微软雅黑';
  height: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
}

input, select, textarea {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

del {
  text-decoration: line-through;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 500;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500;
}

q:before, q:after {
  content: '';
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

ins, a {
  text-decoration: none;
}

input {
  border: 0;
  outline: 0;
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}

.clear {
  zoom: 1;
}

.hide {
  display: none;
}

.header {
  width: 100%;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.4800rem;
  color: #585e69;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  border-bottom: 1px solid #ebebeb;
}

.header .more {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0.3467rem;
  height: 0.5333rem;
  width: 0.5333rem;
  background: url("../images/more.png");
  background-size: cover;
}

.header .back {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0.4000rem;
  height: 0.6667rem;
  width: 0.6667rem;
  background: url("../images/back.png");
  background-size: cover;
}

.header .scan {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0.3467rem;
  height: 0.5333rem;
  width: 0.5333rem;
  background: url("../images/scan.png");
  background-size: cover;
}

.ckb {
  width: 0.6667rem;
  height: 0.6667rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #ddd;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ckb.active {
  background: url("../images/sure.png") no-repeat;
  background-size: cover;
  border: 2px solid #37bac9;
}

.one_line_input {
  height: 1.0133rem;
  line-height: 1.0133rem;
  font-size: 0.3733rem;
  border-bottom: 1px solid #c3c3c3;
  width: 100%;
  color: #333;
  margin-top: 0.4800rem;
}

.one_line_input::placeholder {
  color: #c3c3c3;
}

.form_box {
  padding: 0  0.5333rem;
}

.btn_1 {
  display: block;
  text-align: center;
  -webkit-border-radius: 0.1333rem;
  -moz-border-radius: 0.1333rem;
  border-radius: 0.1333rem;
  color: #fff;
  background: #d6d6d6;
  height: 1.2000rem;
  line-height: 1.2000rem;
  font-size: 0.3733rem;
  letter-spacing: 0.1333rem;
}

.btn_1.active {
  background: #37bac9;
}

.btn_2 {
  text-align: center;
  -webkit-border-radius: 0.1067rem;
  -moz-border-radius: 0.1067rem;
  border-radius: 0.1067rem;
  color: #fff;
  background: #37bac9;
  font-size: 0.4267rem;
  height: 1.2000rem;
  line-height: 1.2000rem;
  margin: 0 auto;
  width: 2.1867rem;
  display: block;
  letter-spacing: 0.1333rem;
}

.theme_color {
  color: #37bac9;
}

.common_footer {
  height: 1.3333rem;
  border-top: 2px solid #fafafa;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f8f8f8;
  padding-top: 0.2400rem;
}

.common_footer a {
  display: inline-block;
  height: 1.0133rem;
  width: 25%;
  text-align: center;
  font-size: 0.3200rem;
  color: #5d697a;
  padding-top: 0.5333rem;
}

.common_footer a.active {
  color: #37bac9;
}

.common_footer a:first-child {
  background: url("../images/money.png") no-repeat center top;
  background-size: 0.5333rem;
}

body {
  padding-top: 1.2000rem;
}

.tips {
  background: #076cb7;
  padding: 0.2667rem 0.5333rem;
  color: #fff;
  font-size: 0.3200rem;
  line-height: 1.5em;
}

.tips > div {
  padding-left: 0.5333rem;
}

.tips > div ul {
  list-style: circle;
}

.agreement {
  position: relative;
  height: 1.2800rem;
  line-height: 1.2800rem;
  color: #323232;
  font-size: 0.3200rem;
  padding-left: 0.7600rem;
}

.agreement .ckb {
  left: 0;
  width: 0.5333rem;
  height: 0.5333rem;
}

.agreement .theme_color {
  font-size: 0.3200rem;
}

.theme_color {
  margin-top: 1.0667rem;
  text-align: center;
  font-size: 0.3733rem;
}

.theme_color a {
  color: #37bac9;
}

textarea {
  height: 2.6667rem;
  width: 100%;
  padding: 0.3333rem;
  resize: none;
  font-size: 0.3733rem;
  color: #333;
  border-bottom: 1px solid  #c3c3c3;
  margin-top: 0.8000rem;
}

textarea::placeholder {
  color: #c3c3c3;
}

select.one_line_input {
  border: 0;
  border-bottom: 1px solid  #c3c3c3;
}

.tabs {
  height: 1.3333rem;
  border-bottom: 2px solid #cdcdcd;
}

.tabs li {
  width: 50%;
  float: left;
  text-align: center;
  height: 1.3067rem;
  line-height: 1.3067rem;
  font-size: 0.3733rem;
  color: #8c9398;
  position: relative;
}

.tabs li.active {
  color: #37bac9;
  font-weight: bold;
}

.tabs li.active:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.1067rem;
  background: #37bac9;
  left: 0;
  bottom: -2px;
}

.form_box p {
  margin-top: 1.2000rem;
  color: #949494;
  font-size: 0.3733rem;
}