html{color:#000;background:#fff;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html *{outline:0;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0);box-sizing:border-box}
html,body{font-family:'微软雅黑';height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
ins,a{text-decoration:none}
input{
	border:0;
	outline:0;
}
.clear:after{
	content: '';
	display: block;
	clear: both;
}
.clear{
	zoom:1;
}
.hide{
	display: none;
}
//变量
$border_grey:1px solid #ebebeb;
$theme_color:#37bac9;


//垂直居中
@mixin middle{
	position:absolute;
	top:50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
//圆角
@mixin border-radius($radius:50%){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}
//文本垂直居中
@mixin line-height($height){
	height:$height;
	line-height:$height;
}


//头部
.header{
	width:100%;
	@include line-height(1.2rem);
	font-size:36px;
	color:#585e69;
	position:fixed;
	top:0;
	left:0;
	text-align: center;
	border-bottom:$border_grey;
	//更多按钮
	.more{
		@include middle;
		right:26px;
		height:40px;
		width:40px;
		background: url("../images/more.png");
		background-size:cover;
	}
	//后退按钮
	.back{
		@include middle;
		left:30px;
		height:50px;
		width:50px;
		background: url("../images/back.png");
		background-size:cover;
	}
	//二维码
	.scan{
		@include middle;
		right:26px;
		height:40px;
		width:40px;
		background: url("../images/scan.png");
		background-size:cover;
	}

}
//checkbox
.ckb{
	width:50px;
	height:50px;
	@include border-radius();
	border:2px solid #ddd;
	@include middle;
	&.active{
		background: url("../images/sure.png") no-repeat;
		background-size:cover;
		border:2px solid $theme_color;
	}
}

//input
.one_line_input{
	@include line-height(76px);
	font-size:28px;
	border-bottom:1px solid #c3c3c3;
	width:100%;
	color:#333;
	margin-top:112-76px;
	&::placeholder{
		color:#c3c3c3;
	}
}
.form_box{
	padding:0 40px;
}
//按钮1
.btn_1{
	display: block;
	text-align:center;
	@include border-radius(10px);
	color:#fff;
	background: #d6d6d6;
	@include line-height(90px);
	font-size:28px;
	&.active{
		background: $theme_color;
	}
	letter-spacing: 10px;
}
.btn_2{
	text-align:center;
	@include border-radius(8px);
	color:#fff;
	background: $theme_color;
	font-size:32px;
	@include line-height(90px);
	margin:0 auto;
	width:164px;
	display: block;
	letter-spacing: 10px;
}
//颜色
.theme_color{
	color:$theme_color;
}
//公共底部菜单
.common_footer{
	height:100px;
	border-top:2px solid #fafafa;
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	background: #f8f8f8;
	padding-top:18px;
	a{
		display: inline-block;
		height:76px;
		width:25%;
		text-align:center;
		font-size:24px;
		color:#5d697a;
		padding-top:40px;
		&.active{
			color:$theme_color;
		}
		&:first-child{
			background: url("../images/money.png") no-repeat center top;
			background-size:40px;
		}
	}
}